{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}

	{% if request.user.is_authenticated %}
		<script>
			window.location.href = '{% url "user:dashboard" %}';
		</script>
	{% endif %}
	<div class="container-fluid">
		<div class="row no-gutter">
			<div class="col-md-12">
				<div class="login d-flex align-items-center py-5">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-12 mx-auto">
								<p>Your password has been set. You may go ahead and <a href="{% url "user:login" %}">log in</a> now.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}