{% extends "base.html" %}
{% block title %}Password Change{% endblock %}
{% block content %}

	<div class="container-fluid">
		<div class="row no-gutter">
			<div class="col-md-12">
				<div class="login d-flex align-items-center py-5">
					<div class="container">
						<div class="row">
							<div class="col-12 col-lg-8 mx-auto">

								<form class="account-form p-4 rounded col-lg-10 mx-auto" method="post">{% csrf_token %}
									<div>
										{% if form.errors %}
											<div class="alert alert-primary" role="alert">
												Error: Please try again!
											</div>
											{% for field in form %}
												{% for error in field.errors %}
													<div>{{ error }}</div>
												{% endfor %}
											{% endfor %}

										{% endif %}


										<p class="h3 mb-4 font-weight-bold">Please enter your old password, then enter your new password twice.</p>

										<fieldset>

											<div>
												<label>{{ form.old_password.label }}</label>
												{{ form.old_password }}
											</div>
											<div>
												<label class="small font-weight-bold">{{ form.new_password1.label }}</label>
												<div>{{ form.new_password1 }}</div>
											</div>
											<div>
												<label class="small font-weight-bold">{{ form.new_password2.label }}</label>
												<div>{{ form.new_password2 }}</div>
												<div>{{ form.new_password1.help_text|safe }}</div>
											</div>

										</fieldset>
										
										<div class="text-center">
											<button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-50" type="submit" value="Change my password">Change my password</button>
										</div>


									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}