{% extends "base.html" %}
{% block title %}Reset Complete{% endblock %}
{% block content %}

	<div class="container-fluid">
		<div class="row no-gutter">
			<div class="col-md-12">
				<div class="login d-flex align-items-center py-5">
					<div class="container">
						<div class="row">
							<div class="col-12 col-lg-6  mx-auto">
								<div class="p-4">
									<p>We have sent an email to the address you have provided, if an account exists with that email.</p>
									<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}