{% extends "base.html" %}
{% block title %}Edit Addresses{% endblock title %}

{% block content %}
	<div class="col-6 mx-auto">
		<h1 class="h3">Create/Edit Address</h1>
		<div>Add a new delivery <b>address</b> and delivery preferences</div>
		<hr/>
		<form name="address_form" class="account-form" method="post" enctype="multipart/form-data">
			{% if form.errors %}
				<div class="alert alert-primary" role="alert">
					Error: Please try again!
				</div>
			{% endif %}
			{% csrf_token %}
			<label class="small fw-bold">{{ form.name.label }}</label>
			{{ form.name }}
			<label class="small fw-bold">{{ form.phone.label }}</label>
			{{ form.phone }}
			<label class="small fw-bold">{{ form.address_line_1.label }}</label>
			{{ form.address_line_1 }}
			<label class="small fw-bold">{{ form.address_line_2.label }}</label>
			{{ form.address_line_2 }}
			<label class="small fw-bold">{{ form.town_city.label }}</label>
			{{ form.town_city }}
			<label class="small fw-bold">{{ form.state.label }}</label>
			{{ form.state }}
			<label class="small fw-bold">{{ form.zip.label }}</label>
			{{ form.zip }}
			<label class="small fw-bold">{{ form.country.label }}</label>
			{{ form.country }}
			<label class="small fw-bold">{{ form.delivery_instructions.label }}</label>
			{{ form.delivery_instructions }}
			<button class="btn btn-primary btn-block py-2 mb-4 mt-4 fw-bold w-100" type="button" value="Submit" onclick="submitForm()">
				Save Address
			</button>
			<a href="{{ request.META.HTTP_REFERER }}"><button class="btn btn-warning btn-block py-2 mb-4 fw-bold w-100" type="button" href="{{ request.META.HTTP_REFERER }}">Cancel</button></a>
		</form>

	</div>

	<script>
		function submitForm() {
			var form = document.getElementsByName('address_form')[0];
			form.submit(); // Submit the form
			form.reset();  // Reset all form data
			return false; // Prevent page refresh
		}
	</script>
{% endblock content %}