{% extends "base.html" %}
{% block title %}Edit Addresses{% endblock title %}

{% block content %}

	<h1 class="h2">Your Addresses</h1>
	<div>Manage your <b>addresses</b> and delivery preferences</div>
	<hr/>

	<div class="container px-0">

		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="addresses">
			{% for address in addresses %}
				{% include 'user/address/_address.html' %}
			{% endfor %}
		</div>

		<div>
			<div class="col">
				<div class="card pb-3 mt-3">
					<div class="card-body bg-white small text-muted">
						<button class="btn btn-primary btn-sm" hx-get="{% url 'user:address_form' %}" hx-swap="outerHTML">Add a New Address</button>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock content %}