{% extends 'base.html' %}
{% load static %}

{% block title %}Shopping Cart{% endblock title %}

{% block content %}
	<main class="pt-5">
		<div class="container">
			<div class="row" id="cart-header" hx-get="{% url 'cart:update_details' %}" hx-trigger="load delay:1s, cartUpdatedEvent from:body">
				{% include "store/cart/_details.html" %}
			</div>
			<br>
			<div class="row g-3">
				{% if cart|length > 0 %}
					<div class="col-12">
						{% for item in cart %}
							{% with product=item.product %}
								<div id="product={{ product.id }}" class="row mb-4 border product-item" data-index="{{ product.id }}">
									<div class="col-md-3 col-lg-2 order-md-first bg-light">
										<img class="img-fluid mx-auto d-block" src="{{ product.image.url }}" alt="Responsive image">
									</div>
									<div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
										<a class="text-decoration-none text-reset" href="{{ product.get_absolute_url }}">
											<h1 class="h5 pt-2">{{ product.title }}</h1>
										</a>
										<div class="border">
											<div class="col border-bottom">
												<div class="row p-3">
													<div class="col-6">
														{{ product.description }}
														{{ product.id }}
													</div>
													<div class="col-6 text-end" hx-trigger="load, cartUpdatedEvent from:body" hx-get="{% url 'cart:update_item_total' product.id %}">
														{% include 'store/cart/_item_total.html' %}
													</div>
												</div>
											</div>
											<div class="col">
												<div class="row p-3 col-12">
													{% include 'store/cart/_quantity.html' %}
													<div>
														<button hx-delete="{{ product.remove_from_cart_url }}" id="delete-button-{{ product.id }}"
																hx-headers='{"X-CSRFToken": "{% csrf_token %}"}'
																hx-target="#product-{{ product.id }}" hx-swap="outerHTML" class="btn btn-sm btn-warning">Delete
														</button>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
								</div>
								</div>
							{% endwith %}
						{% endfor %}
					</div>
				{% endif %}
		<br>
		<div class="row" id="cart-footer" hx-get="{% url 'cart:update_footer' %}" hx-trigger="load delay:1s, cartUpdatedEvent from:body">
			{% include 'store/cart/_footer.html' %}
		</div>
	</main>
{% endblock content %}