{% extends 'base.html' %}
{% load static %}

{% block title %}Payment Details{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row no-gutter">
			<div class="col-md-12">
				<div class="login d-flex align-items-center py-5">
					<div class="container">
						<div class="row">
							<div id="payment-form" class="col-12 col-lg-6 mx-auto">
								<h3 class="mb-3">Billing address</h3>
								<!-- Error messages in this element -->
								<div id="card-errors" class="a" role="alert"></div>

								<form>
									<div class="row g-3">
										<div class="col-12">
											{{ form.name.label }}
											{{ form.name }}
											<div class="invalid-feedback">
												Valid first name is required.
											</div>
										</div>
										<div class="col-12">
											{{ form.email.label }}
											{{ form.email }}
											<div class="invalid-feedback">
												Please enter a valid email address for shipping updates.
											</div>
										</div>
										<div class="col-12">
											{{ form.phone.label }}
											{{ form.phone }}
											<div class="invalid-feedback">
												Please enter a valid phone number for shipping updates.
											</div>
										</div>
										<div class="col-12">
											{{ form.address.label }}
											{{ form.address }}
											<div class="invalid-feedback">
												Please enter your shipping address.
											</div>
										</div>
										<div class="col-12">
											{{ form.address2.label }}
											{{ form.address2 }}
										</div>
										<div class="col-12">
											{{ form.city.label }}
											{{ form.city }}
										</div>
										<div class="col-md-5">
											{{ form.country.label }}
											{{ form.country }}
											<div class="invalid-feedback">
												Please select a valid country.
											</div>
										</div>
										<div class="col-md-4">
											{{ form.state.label }}
											{{ form.state }}
											<div class="invalid-feedback">
												Please provide a valid state.
											</div>
										</div>
										<div class="col-md-3">
											{{ form.zipcode.label }}
											{{ form.zipcode }}
											<div class="invalid-feedback">
												Zip code required.
											</div>
										</div>
									</div>
									<hr class="my-4">
									<h4 class="mb-3">Payment</h4>
									<label for="card-element">Credit or debit card</label>
									<div id="card-element" class="form-control form-control-payment">
										<!-- Payment elements will appear here -->
									</div>
									<hr class="my-4">
									<button id="submit" class="btn btn-primary w-100 fw-bold" data-secret="{{ client_secret }}">Pay</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		const CSRF_TOKEN = '{{ csrf_token }}';
	</script>
	<script src="https://js.stripe.com/v3/"></script>
	<script src="{% static 'js/payment/index.js' %}" data-rel-js></script>
{% endblock %}