{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row no-gutter">
			<div class="col-md-12">
				<div class="login d-flex align-items-center py-5">
					<div class="container">
						<div class="row">
							<div class="col-12 col-lg-6 mx-auto">
								<div class="p-4">
									<h3 class="mb-4">Are you sure you want to delete your account?</h3>

									<div>
										<form action="{% url 'user:delete_profile' %}">
										<button type="submit" role="button" class="btn btn-danger my-4">Confirm Delete</button>
									</form>

										<form action="{% url 'user:edit_profile' %}">
											<button type="submit" role="button" class="btn btn-secondary">Cancel</button>
										</form>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}