{% extends "base.html" %}
{% block title %}My Wishlist{% endblock title %}

{% block content %}
	<div class="col-6 mx-auto">

		<h1 class="h3">View and Edit Wishlist</h1>
		<div>Manage your Wishlist</div>
		<hr/>
		{% if wishlist %}
			{% for product in wishlist %}
				<div class="card mb-3">
					<div class="row g-0">
						<div class="col-md-2">

							{% for image in product.product_image.all %}
								{% if image.is_feature %}
									<img class="img-fluid mx-auto d-block" width="200px" src="{{ image.image.url }}" alt="{{ image.alt_text }}">
								{% endif %}
							{% endfor %}

						</div>
						<div class="col-md-10">
							<div class="card-body">
								<h5 class="card-title">{{ product.title }}</h5>
								<p class="card-text">{{ product.description }}</p>
								<p class="card-text"><small class="text-muted">{{ product.regular_price }}</small></p>
								<a href="{% url 'user:add_to_wishlist' product.id %}" type="button" class="btn btn-primary btn-sm">Remove from Wishlist</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="card-text">No products in your wishlist</div>
		{% endif %}

	</div>
{% endblock content %}